<%= form_with model: question do |f| %>
  <div class="error-message-wrapper">
    <% question.errors.full_messages.each do |message| %>
      <li class="error-messages"><%= message %></li>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :title, "タイトルを入力してください" %><br />
    <%= f.text_field :title, class: "form-control form-question-title", placeholder: "例） シグナスX タイヤ交換の方法がわからない", autocomplete: "title" %>
  </div>

  <div class="form-group">
    <%= f.label :content, "質問本文" %><br />
    <%= f.rich_text_area :content, placeholder: "質問内容を書いてください", autocomplete: "question_content" %>
  </div>

  <div class="actions mt-40 mb-30 text-center">
    <%= f.submit "上記内容で確定する", class: "btn btn-outline-success" %>
  </div>
<% end %>
