<!-- 画面左側のアイコン -->
<%= render 'shared/left-section-editer', article: @question, move_from: "question" %>
<!-- 記事本文 -->
<%= render 'shared/post_details', post: @question, move_from: "question" %>
<!-- 回答機能 -->
<div class="article-show-main-contents">
  <div class="content-width" style="width: 75%;">
    <div class="card-custom">
      <div class="card-body" style="padding: 2.25rem;">
        <p class="replay-header">回答</p>
        <% @answers.each do |answer| %>
          <div class="show-reply-contents-wrapper">
            <div class="author-header-show">
              <%= link_to user_path(answer.user_id) do %>
                <% if answer.user.profile? %>
                  <%= image_pack_tag answer.user.profile.url, class: "user-profile-icon" %>
                <% else %>
                  <%= image_pack_tag 'profile_defalt.png', class: "user-profile-icon" %>
                <% end %>
                <%= answer.user.name %>
              <% end %>
              さんが<%= answer.updated_at.strftime("%Y年%m月%d日").to_s %>に作成
              <% if user_signed_in? && current_user.id == answer.user_id %>
                <div style="float: right;">
                  <%= link_to "削除", question_answer_path(answer.question.id, answer.id), data: { confirm: "回答を削除すると戻すことは出来ません。本当に削除しますか？" }, method: :delete %>
                </div>
              <% end %>
            </div>
            <div class="mt-20"><%= answer.body %></div>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <%= form_with model: [@question, @answer], local: true do |f| %>
            <%= f.text_area :body, id: "create-answer-form", placeholder: "適切なマナーを守り、心地よい回答をしましょう！", rows: "10", class: "w-100" %>
            <br>
            <%= f.submit "回答する", class: "btn btn-outline-success replay-submit-btn" %>
          <% end %>
        <% else %>
          <strong><p>回答するには新規登録/ログインが必要です</p></strong>
        <% end %>
      </div>
    </div>
  </div>
</div>
