<!-- carousel -->
<div class="ps-relative">
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" style="z-index: 0;" data-ride="carousel" data-interval="2000" data-pause="false">
    <div class="carousel-inner" style="height: 600px;">
      <div class="carousel-item active">
        <div class="filter">
          <img src="/assets/bike2.jpg" class="d-block w-100 filter-img" alt="...">
        </div>
      </div>
      <div class="carousel-item">
        <div class="filter">
          <img src="/assets/engine.jpg" class="d-block w-100 filter-img" alt="...">
        </div>
      </div>
      <div class="carousel-item">
        <div class="filter">
          <img src="/assets/bike3.jpg" class="d-block w-100 filter-img" alt="...">
        </div>
      </div>
    </div>
  </div>
  <!-- carousel上のコンテンツ -->
  <!-- ログイン後 -->
  <% if user_signed_in? %>
    <div class="ps-absolute w-100" style="top: 48%;">
      <div class="content-width contents-tidy" style="color: white;">
        <!-- 記事を書いてみよう -->
        <section class="effect-fade">
          <div class="card" style="width: 18rem;">
            <%= image_tag '/assets/show-article', class: "calousel-on-card-img" %>
            <div class="card-body" style="background-color: #b5b5b5;">
              <%= link_to articles_path do %>
                <h5 class="card-title card-title-custom">記事を見る</h5>
              <% end %>
              <p class="card-text" style="line-height: 2.0;">
              みんなの記事を見てみよう！
              知らない情報が手に入るかも♪</p>
            </div>
          </div>
        </section>
        <!-- 質問してみる -->
        <section class="effect-fade">
          <div class="card" style="width: 18rem;">
            <%= image_tag '/assets/question', class: "calousel-on-card-img" %>
            <div class="card-body" style="background-color: #b5b5b5;">
              <%= link_to new_question_path do %>
                <h5 class="card-title card-title-custom">質問する</h5>
              <% end %>
              <p class="card-text" style="line-height: 2.0;">
              TRYしてわからなかったことは気軽に質問してみよう</p>
            </div>
          </div>
        </section>
        <!-- 記事を書いてみる -->
        <section class="effect-fade">
          <div class="card" style="width: 18rem;">
            <%= image_tag '/assets/write', class: "calousel-on-card-img" %>
            <div class="card-body" style="background-color: #b5b5b5;">
              <%= link_to new_article_path do %>
                <h5 class="card-title card-title-custom">記事を書く</h5>
              <% end %>
              <p class="card-text" style="line-height: 2.0;">
              経験を身にするためと困っている人の力になろう</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  <% else %>
    <!-- 未ログイン -->
    <div class="ps-absolute w-100" style="top: 25%;">
      <div class="content-width">
        <div class="contents-tidy">
          <!-- サイト説明欄 -->
          <div class="carousel-on-text">
            <%= image_tag '/assets/contents-on-logo.png', style: "height: 200px;" %>
            <h2 style="text-align: center;">バイク専門の整備情報サイト</h2>
            <p>Bikers-QAはバイク整備に関する知識を記録・共有するサービスです</p>
            <p>整備をしていて気がついた事や、大変だった事など</p>
            <p>他の方と共有しましょう!!!</p>
            <div style="border-bottom: 1px solid white; margin-top: 15px;">
              <a href="/about" style="font-size: 16px;">もっと詳しくみてみる</a>
            </div>
          </div>
          <!-- 新規登録関連 -->
          <div class="mt-80">
            <%= link_to new_user_registration_path do %> 
              <button type="button" class="btn btn-outline-primary mb-20" style="width: -webkit-fill-available;">メールアドレスで登録</button>
            <% end %>
            <p class="subtitle-font under-line mb-30">
            <span><i class="far fa-arrow-alt-circle-down"></i></span>
            SNSと連携して新規登録する
            <span><i class="far fa-arrow-alt-circle-down"></i></span>
            </p>
            <%= link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, class: "btn btn-outline-primary", method: :post %>
            <%= link_to 'Twitterで登録', user_twitter_omniauth_authorize_path, class: "btn btn-outline-secondary", method: :post %>
            <%= link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, class: "btn btn-outline-success", method: :post %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="main-contents">
  <div class="contents-tidy">
    <div class="content-width" style="width: 50%">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="create-articles-tub" data-toggle="tab" href="#create-articles" role="tab" aria-controls="create-articles" aria-selected="true">記事</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="question-tub" data-toggle="tab" href="#questions" role="tab" aria-controls="questions" aria-selected="false">質問</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- 新着１０記事を表示 -->
        <div class="tab-pane fade show active" id="create-articles" role="tabpanel" aria-labelledby="create-articles-tub">
          <% @articles.each do |article| %>
            <div class="card-custom">
              <div class="card-body">
                <%= link_to user_path(article.user_id) do %>
                  <% if article.user.profile? %>
                    <span style="margin-right: 5px;"><%= image_tag article.user.profile.url, class: "navber-profile-icon" %></span>
                  <% else %>
                    <span style="margin-right: 5px;"><%= image_tag '/assets/profile_defalt.png', class: "navber-profile-icon" %></span>
                  <% end %>
                  <%= article.user.name %>
                <% end %>
                さんが<%= article.updated_at.strftime("%Y年%m月%d日").to_s %>に作成
                <%= link_to article do %>
                  <h5 class="card-title article-title-text"><%= article.title %></h5>
                <% end %>
                <% if article.tags.present? %>
                  <i class="fas fa-tags tag-icon" style="width: 25px;"></i>
                  <% article.tags.each do |article_tags| %>
                    <%= article_tags.tag_name %>
                  <% end %>
                <% end %>
                <div style="float: right; font-size: 18px;">
                  <i class="far fa-comment-dots comment-icon"></i><%= article.comments.count %>
                  <i class="fas fa-heart favorite-icon comment-icon"></i><%= article.favorites.count %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <!-- 新着１０質問を表示 -->
        <div class="tab-pane fade" id="questions" role="tabpanel" aria-labelledby="question-tub">
          <% @questions.each do |question| %>
            <div class="card-custom">
              <div class="card-body">
                <%= link_to user_path(question.user_id) do %>
                  <% if question.user.profile? %>
                    <span style="margin-right: 5px;"><%= image_tag question.user.profile.url, class: "navber-profile-icon" %></span>
                  <% else %>
                    <span style="margin-right: 5px;"><%= image_tag '/assets/profile_defalt.png', class: "navber-profile-icon" %></span>
                  <% end %>
                  <%= question.user.name %>
                <% end %>
                さんが<%= question.updated_at.strftime("%Y年%m月%d日").to_s %>に作成
                <%= link_to question do %>
                  <h5 class="card-title question-title-text"><%= question.title %></h5>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- ランキング -->
    <div class="ranking-wrapper">
      <!-- タグ ランキング -->
      <div class="each-ranking-wrapper">
        <p style="margin-bottom: 10px;">タグランキング</p>
        <% @tag_ranking.each_with_index do |tag, index| %>
          <ul class="contents-tidy ranking-style">
            <li><%= index + 1 %>位</li>
            <%= link_to tag do %>
              <li><%= tag.tag_name %></li>
            <% end %>
            <li class="ranking-count-font"><%= tag.tag_maps.count %>記事</li>
          </ul>
        <% end %>
      </div>
      <!-- お気に入りランキング -->
      <div class="each-ranking-wrapper" style="margin-top: 30px;">
        <p style="margin-bottom: 10px;">お気に入りランキング</p>
        <% @article_ranking.each_with_index do |article, index| %>
          <ul class="contents-tidy ranking-style">
            <li><%= index + 1 %>位</li>
            <%= link_to article do %>
              <li><%= article.title %></li>
            <% end %>
            <li class="ranking-count-font">
              <i class="fas fa-heart favorites-icon"></i>✖<%= article.favorites.count %>
            </li>
          </ul>
        <% end %>
      </div>
      <!-- フォローランキング -->
      <div class="each-ranking-wrapper" style="margin-top: 30px;">
        <p style="margin-bottom: 10px;">フォローランキング</p>
        <% @favorite_ranking.each_with_index do |user, index| %>
          <ul class="contents-tidy ranking-style">
            <li><%= index + 1 %>位</li>
            <%= link_to user do %>
              <li><%= user.name %></li>
            <% end %>
            <li class="ranking-count-font">
              <%= user.passive_relationships.count %>人
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- カルーセル上のcardの出現アニメーション用 -->
<%= javascript_pack_tag 'calousel-on-card-animation' %>
