<!-- carousel -->
<div class="ps-relative">
  <%= render 'carousel' %>
  <!-- carousel上のコンテンツ -->
  <!-- ログイン後 -->
  <% if user_signed_in? %>
    <div class="guide-contents ps-absolute w-100" style="top: 48%;">
      <div class="content-width contents-tidy" style="color: white;">
        <!-- 記事を書いてみよう -->
        <section class="effect-fade">
          <div class="card" style="width: 18rem;">
            <%= image_tag '/assets/show-article', class: "calousel-on-card-img", style: "width: 130px;" %>
            <div class="card-body" style="background-color: #b5b5b5;">
              <%= link_to articles_path do %>
                <h5 class="card-title card-title-custom">記事を見る</h5>
              <% end %>
              <p class="card-text" style="line-height: 2.0;">
              みんなの記事を見てみよう！
              知らない情報が手に入るかも♪</p>
            </div>
          </div>
        </section>
        <!-- 質問してみる -->
        <section class="effect-fade">
          <div class="card" style="width: 18rem;">
            <%= image_tag '/assets/question', class: "calousel-on-card-img" %>
            <div class="card-body" style="background-color: #b5b5b5;">
              <%= link_to new_question_path do %>
                <h5 class="card-title card-title-custom">質問する</h5>
              <% end %>
              <p class="card-text" style="line-height: 2.0;">
              TRYしてわからなかったことは気軽に質問してみよう</p>
            </div>
          </div>
        </section>
        <!-- 記事を書いてみる -->
        <section class="effect-fade">
          <div class="card" style="width: 18rem;">
            <%= image_tag '/assets/write', class: "calousel-on-card-img" %>
            <div class="card-body" style="background-color: #b5b5b5;">
              <%= link_to new_article_path do %>
                <h5 class="card-title card-title-custom">記事を書く</h5>
              <% end %>
              <p class="card-text" style="line-height: 2.0;">
              経験を身にするためと困っている人の力になろう</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  <% else %>
    <!-- 未ログイン -->
    <div class="carousel-on-right-contents ps-absolute w-100" style="top: 21%;">
      <div class="content-width">
        <div class="contents-tidy">
          <!-- サイト説明欄 -->
          <div class="carousel-on-text">
            <%= image_tag '/assets/contents-on-logo.png', style: "height: 200px;" %>
            <h2 style="text-align: center;">バイク専門の整備情報サイト</h2>
            <p>Bikers-QAはバイク整備に関する知識を記録・共有するサービスです</p>
            <p>整備をしていて気がついた事や、大変だった事など</p>
            <p>他の方と共有しましょう!!!</p>
            <div style="border-bottom: 1px solid white; margin-top: 15px;">
              <a href="/about" style="font-size: 16px;">もっと詳しくみてみる</a>
            </div>
          </div>
          <!-- 新規登録関連 -->
          <div class="new-user-select-menu mt-80">
            <%= link_to new_user_registration_path do %> 
              <button type="button" class="btn btn-outline-primary mb-20" style="width: -webkit-fill-available;">メールアドレスで登録</button>
            <% end %>
            <p class="subtitle-font under-line mb-30">
            <span><i class="far fa-arrow-alt-circle-down"></i></span>
            SNSと連携して新規登録する
            <span><i class="far fa-arrow-alt-circle-down"></i></span>
            </p>
            <%= link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, class: "btn btn-outline-primary", method: :post %>
            <%= link_to 'Twitterで登録', user_twitter_omniauth_authorize_path, class: "btn btn-outline-secondary", method: :post %>
            <%= link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, class: "btn btn-outline-success", method: :post %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="main-contents">
  <!-- 検索フォーム 画面サイズ 730px以下で表示-->
  <div class="search-form">
    <%= search_form_for @q, url: search_articles_path do |f| %>
      <%= f.label :title_cont, '記事検索' %>
      <%= f.search_field :title_cont, style: "width: 250px;" %>
      <%= f.submit '検索', class: "btn btn-outline-success" %>
    <% end %>
  </div>
  <div class="contents-tidy">
    <div class="content-width nav-tubs-pc">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="create-articles-tub" data-toggle="tab" href="#create-articles" role="tab" aria-controls="create-articles" aria-selected="true">最新記事</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="question-tub" data-toggle="tab" href="#questions" role="tab" aria-controls="questions" aria-selected="false">新しい質問</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- 新着１０記事を表示 -->
        <div class="tab-pane fade show active" id="create-articles" role="tabpanel" aria-labelledby="create-articles-tub">
          <%= render partial: "shared/article_index", collection: @articles, as: "article" %>
        </div>
        <!-- 新着１０質問を表示 -->
        <div class="tab-pane fade" id="questions" role="tabpanel" aria-labelledby="question-tub">
          <%= render partial: "shared/question_index", collection: @questions, as: "question" %>
        </div>
      </div>
      <!-- 画面下側のコンテンツ(画面サイズ 830px 以下で表示) -->
      <div class="toppage-right-contents-wrapper">
        <!-- フォロワーランキング -->
        <%= render 'follower_ranking', favorite_ranking: @favorite_ranking %>
        <!-- お気に入りランキング -->
        <%= render 'favorite_ranking', article_ranking: @article_ranking %>
        <!-- タグ ランキング -->
        <%= render 'tag_ranking', tag_ranking: @tag_ranking %>
      </div>
    </div>
    <!-- 画面右側のコンテンツ 画面サイズ 830px 以下で非表示 -->
    <div class="toppage-right-contents-wrapper-pc">
      <!-- サイト説明ページ転移ロゴ -->
      <div class="each-ranking-wrapper">
        <%= link_to '/about' do %>
          <%= image_tag '/assets/site-logo', id: "about-link-logo", style: "width: 100%;" %>
        <% end %>
      </div>
      <!-- フォロワーランキング -->
      <%= render 'follower_ranking', favorite_ranking: @favorite_ranking %>
      <!-- お気に入りランキング -->
      <%= render 'favorite_ranking', article_ranking: @article_ranking %>
      <!-- タグ ランキング -->
      <%= render 'tag_ranking', tag_ranking: @tag_ranking %>
    </div>
  </div>
</div>
<!-- カルーセル上のcardの出現アニメーション用 -->
<%= javascript_pack_tag 'calousel-on-card-animation' %>
