<% if @notifications.blank? %>
  <p class="no-nitification-text">通知はありません</p>
<% else %>
<div class="flex-contents-wrapper">
  <div class="flex-contents-left-section" style="z-index: 10;">
    <%= link_to destroy_all_notifications_path, method: :delete do %>
      <div class="tooltip2">
        <i class="fas fa-trash left-section-editer-icon tooltip2"></i>
        <div class="description2">通知を全削除する</div>
      </div>
    <% end %>
  </div>
  <div class="flex-contents-center-section mb-50">
    <div class="content-width">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="unconfirmed_notification-tub" data-toggle="tab" href="#unconfirmed_notification" role="tab" aria-controls="unconfirmed_notification" aria-selected="true">新着通知</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="confirmation_notification-tub" data-toggle="tab" href="#confirmation_notification" role="tab" aria-controls="confirmation_notification" aria-selected="false">確認済通知</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="unconfirmed_notification" role="tabpanel" aria-labelledby="unconfirmed_notification-tub">
          <%= render partial: "notifications", collection: @unconfirmed_notifications, as: "notification" %>
          <%= paginate @unconfirmed_notifications %>
        </div>
        <div class="tab-pane fade show" id="confirmation_notification" role="tabpanel" aria-labelledby="confirmation_notification-tub">
          <%= render partial: "notifications", collection: @confirmation_notifications, as: "notification" %>
          <%= paginate @confirmation_notifications %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
