<div class="article-index-main-contents">
  <div class="content-width" style="width: 60%;">
    <% @articles.each do |article| %>
      <div class="card-custom">
        <div class="card-body">
          <div class="author-header">
            <%= link_to user_path(article.user_id) do %>
              <% if article.user.profile? %>
                <span style="margin-right: 5px;"><%= image_tag article.user.profile.url, class: "navber-profile-icon" %></span>
              <% else %>
                <span style="margin-right: 5px;"><%= image_tag '/assets/profile_defalt.png', class: "navber-profile-icon" %></span>
              <% end %>
              <%= article.user.name %>
            <% end %>
            さんが<%= article.updated_at.strftime("%Y年%m月%d日").to_s %>に作成          
          </div>
          <div style="float: right;">
            <i class="fas fa-heart favorite-icon"></i>✖<%= article.favorites.count %>
          </div>
          <%= link_to article do %>
            <h5 class="card-title article-title-text"><%= article.title %></h5>
          <% end %>
          <% if article.tags.present? %>
            <i class="fas fa-tags tag-icon" style="width: 25px;"></i>
            <% article.tags.each do |article_tags| %>
              <%= article_tags.tag_name %>
            <% end %>
            <br>
          <% end %>
          <div style="margin-top: 15px;">
            <%= truncate(article.body, length: 100) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
