<div class="card col-sm-6 mx-auto mt-5">
  <div class="card-body">
    <h3 class="mt-1 mb-3 text-center">記事を編集する</h3>
    <%= form_with model: @article do |f| %>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <div class="form-group">
        <%= f.label :title, "タイトルを入力してください" %><br />
        <%= f.text_field :title, class: "form-control", placeholder: "例） シグナスX タイヤ交換の方法", autofocus: true, autocomplete: "title" %>
      </div>
      <div class="form-group">
        <%= f.label :body, "記事本文" %><br />
        <%= f.text_area :body, class: "form-control", rows: "50", autocomplete: "body" %>
      </div>
      <div class="actions">
        <%= f.submit "編集する", class: "btn btn-outline-success btn-block" %>
      </div>
    <% end %>
    <%= link_to "記事一覧へ戻る", articles_path, class: "btn btn-outline-primary" %>
    <%= link_to "記事を削除する", @article, data: { confirm: "記事を削除すると戻すことは出来ません。本当に削除しますか？" }, class: "btn btn-outline-danger", method: :delete %>
  </div>
</div>
