<div class="article-index-main-contents">
  <div class="content-width" style="width: 60%;">
    <% @articles.each do |article| %>
      <div class="card-custom">
        <div class="card-body">
          <div class="author-header">
            <%= link_to user_path(article.user_id) do %>
              <%= article.user.name %>
            <% end %>
            さんが<%= article.updated_at.strftime("%Y年%m月%d日").to_s %>に作成          
          </div>
          <div style="float: right;">
            <i class="fas fa-heart favorite-icon"></i>✖<%= article.favorites.count %>
          </div>
          <%= link_to article do %>
            <h5 class="card-title article-title-text"><%= article.title %></h5>
          <% end %>
          <%= truncate(article.body, length: 100) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
