<h1 style="text-align: center; margin-bottom:80px;">記事一覧</h1>
<section class="content-width">
  <div class="contents-tidy" style="flex-wrap: wrap;">
    <% @articles.each do |article| %>
      <div class="card text-center card-article mb-20">
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text mb-20 article-font"><%= truncate(article.body, length:15) %></p>
          <%= link_to "記事を読む", article, class: "btn btn-primary" %>
        </div>
        <p><span>お気に入り数: </span><%= article.favorites.count %></p>
        <div class="card-footer text-muted">
          <%= time_ago_in_words(article.created_at) %>前に作成
        </div>
      </div>
    <% end %>
  </div>
</section>
