<!-- 画面左側のアイコン -->
<%= render 'shared/left-section-editer', article: @article, move_from: "article" %>
<!-- 記事本文 -->
<%= render 'shared/post_details', post: @article, move_from: "article" %>
<!-- コメント機能 -->
<div class="article-show-main-contents">
  <div class="content-width" style="width: 75%;">
    <div class="card-custom">
      <div class="card-body" style="padding: 2.25rem;">
        <p class="replay-header">コメント</p>
        <% @comments.each do |comment| %>
          <div class="show-reply-contents-wrapper">
            <div class="author-header-show">
              <%= link_to user_path(comment.user_id) do %>
                <% if comment.user.profile? %>
                  <span style="margin-right: 5px;"><%= image_tag comment.user.profile.url, class: "navber-profile-icon" %></span>
                <% else %>
                  <span style="margin-right: 5px;"><%= image_tag '/assets/profile_defalt.png', class: "navber-profile-icon" %></span>
                <% end %>
                <%= comment.user.name %>
              <% end %>
              さんが<%= comment.updated_at.strftime("%Y年%m月%d日").to_s %>に作成
              <% if user_signed_in? && current_user.id == comment.user_id %>
                <div style="float: right;">
                  <%= link_to "削除", article_comment_path(comment.article.id, comment.id), data: { confirm: "コメントを削除すると戻すことは出来ません。本当に削除しますか？" }, method: :delete %>
                </div>
              <% end %>
            </div>
            <div class="mt-20"><%= comment.body %></div>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <%= form_with model: [@article, @comment], local: true do |f| %>
            <%= f.text_area :body, placeholder: "適切なマナーを守り、心地よいコメントをしましょう！\r無記入や１００００文字を超えたコメントは投稿できません", rows: "10", class: "w-100" %>
            <br>
            <%= f.submit "コメントする", class: "btn btn-outline-success replay-submit-btn" %>
          <% end %>
        <% else %>
          <strong><p>コメントの投稿には新規登録/ログインが必要です</p></strong>
        <% end %>
      </div>
    </div>
  </div>
</div>
