<h1 style="text-align: center; margin-bottom:80px;">記事詳細</h1>

<section class="content-width">
  <% unless @article.user_id == current_user.id %>
    <div id="favorite_buttons_<%= @article.id %>">
      <%= render 'favorites/favorite', article: @article %>
    </div>
  <% end %>
  <div class="card" style="margin: 0 auto;">
    <div class="card-body">
      <h5 class="card-title text-center"><%= @article.title %></h5>
      <pre><p class="card-text mb-20 article-font"><%= @article.body %></pre>
    </div>
    <div class="card-footer text-muted">
      <%= time_ago_in_words(@article.created_at) %>前に作成
    </div>
  </div>
  <%= link_to "戻る", :back, class: "btn btn-outline-primary" %>
  <%= link_to "編集する", edit_article_path, class: "btn btn-outline-success" %>
  <%= link_to "記事を削除する", @article, data: { confirm: "記事を削除すると戻すことは出来ません。本当に削除しますか？" }, class: "btn btn-outline-danger", method: :delete %>
</section>

