<!-- 画面左側のメニュー欄 -->
<div class="navber-editer" style="width: 20%;">
  <div class="card-body">
    <% if @user.profile.blank? %>
      <%= image_tag '/assets/profile_defalt.png', class: "profile-image" %>
    <% else %>
      <%= image_tag @user.profile.url, class: "profile-image"%>
    <% end %>
    <h5 class="card-title username-font"><%= @user.name %></h5>
    <div class="relationship-link-text">
      <%= link_to follows_user_path(@user.id) do %>
        <p><%= @user.followings.count %></p>
        <p>フォロー</p>
      <% end %>
      <%= link_to followers_user_path(@user.id) do %>
        <p><%= @user.followers.count %></p>
        <p>フォロワー</p>
      <% end %>
    </div>
    <h5 style="font-size: 15px;"><%= @user.introduce %></h5>
    <% if @user == current_user %>
      <%= link_to 'プロフィールを編集する', edit_user_registration_path, class: "btn btn-outline-success edit-user-btn" %>
    <% end %>
    <div id="relation_buttons_<%= @user.id %>">
      <%= render 'relationships/relationship', user: @user %>
    </div>
  </div>
</div>

<!-- 投稿・お気に入りした記事一覧 -->
<div class="article-index-main-contents mb-50">
  <div class="content-width" style="width: 60%;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">作成した記事</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">お気に入り</a>
      </li>
      <!--タグ追加場所<li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
      </li>-->
    </ul>
    <!-- @userが作成した記事一覧 -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <% @articles.each do |article| %>
          <div class="card-custom">
            <div class="card-body">
              <div class="author-header contents-tidy">
                <div>
                  <%= link_to user_path(article.user_id) do %>
                    <% if article.user.profile? %>
                      <span style="margin-right: 5px;"><%= image_tag article.user.profile.url, class: "navber-profile-icon" %></span>
                    <% else %>
                      <span style="margin-right: 5px;"><%= image_tag '/assets/profile_defalt.png', class: "navber-profile-icon" %></span>
                    <% end %>
                    <%= article.user.name %>
                  <% end %>
                  さんが<%= article.updated_at.strftime("%Y年%m月%d日").to_s %>に作成 
                </div>         
                <div>
                  <i class="fas fa-heart favorite-icon"></i>✖<%= article.favorites.count %>
                </div>
              </div>
              <%= link_to article do %>
                <h5 class="card-title article-title-text"><%= article.title %></h5>
              <% end %>
              <%= truncate(article.body, length: 100) %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- お気に入りした記事一覧 -->
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <% @favorite_articles.each do |article| %>
          <div id="user_favorite_buttons_<%= article.id %>">
            <div class="card-custom">
              <div class="card-body">
                <div class="author-header contents-tidy">
                  <div>
                    <%= link_to user_path(article.user_id) do %>
                      <% if article.user.profile? %>
                        <span style="margin-right: 5px;"><%= image_tag article.user.profile.url, class: "navber-profile-icon" %></span>
                      <% else %>
                        <span style="margin-right: 5px;"><%= image_tag '/assets/profile_defalt.png', class: "navber-profile-icon" %></span>
                      <% end %>
                      <%= article.user.name %>
                    <% end %>
                    さんが<%= article.updated_at.strftime("%Y年%m月%d日").to_s %>に作成
                  </div>
                  <div>
                    <%= render 'users/favorite', article: article %>
                  </div>
                </div>
                <%= link_to article do %>
                  <h5 class="card-title article-title-text"><%= article.title %></h5>
                <% end %>
                <%= truncate(article.body, length: 100) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!--<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">タグを追加場所</div>-->
    </div>
  </div>
</div>
