<div class="hamburger-menu">
  <input type="checkbox" id="menu-btn-check"/>
  <label for="menu-btn-check" class="menu-btn header-nav-hamburger jsc-hamburger is-active">
    <span class="header-nav-hamburger-line"></span>
    <span class="header-nav-hamburger-line"></span>
    <span class="header-nav-hamburger-line"></span>
  </label>
  
  <!-- hamburger-menu header-nav-list -->
  
  <label for="menu-btn-check" class="header-nav-list is-active menu-btn">
    <ul class="contents-tidy">
      <% if user_signed_in? %>
        <li class="header-nav-item-box">
          <%= link_to articles_path, id:"article-index-btn", class: "header-nav-item hover-opacity" do %>
            記事一覧
            <br>
            <span>見てみよう！</span>
          <% end %>
        </li>
        <li class="header-nav-item-box">
          <%= link_to new_article_path, id:"new-article-btn", class: "header-nav-item hover-opacity" do %>
            記事を作成
            <br>
            <span>書いてみよう！</span>
          <% end %>
        </li>          
        <li class="header-nav-item-box">
          <%= link_to questions_path, id:"question-index-btn", class: "header-nav-item hover-opacity" do %>
            質問一覧
            <br>
            <span>見てみよう！</span>
          <% end %>
        </li>
        <li class="header-nav-item-box">
          <%= link_to new_question_path, id:"new-question-btn", class: "header-nav-item hover-opacity" do %>
            質問をする
            <br>
            <span>聞いてみよう！</span>
          <% end %>
        </li>
        <li class="header-nav-item-box">
          <%= link_to destroy_user_session_path, class: "header-nav-item hover-opacity", method: :delete do %>
            ログアウト
            <br>
            <span>またね！</span>
          <% end %>
        </li>
      <% else %>    
        <li class="header-nav-item-box">
          <%= link_to users_guest_sign_in_path, class: "header-nav-item hover-opacity", method: :post do %>
            テストログイン
            <br>
            <span>よろしくお願いします！</span>
          <% end %>
        </li>
        <li class="header-nav-item-box">
          <%= link_to new_user_registration_path, id:"new-user-btn", class: "header-nav-item hover-opacity" do %>
            会員登録
            <br>
            <span>はこちら</span>
          <% end %>
        </li>
        <li class="header-nav-item-box">
          <%= link_to new_user_session_path, id: "login-btn", class: "header-nav-item hover-opacity" do %>
            ログイン
            <br>
            <span>はこちら</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </label>
</div>
