<div class="card-custom">
  <div class="card-body">
    <div class="author-header contents-tidy">
      <div class="mb-10">
        <%= link_to user_path(question.user_id) do %>
          <% if question.user.profile? %>
            <span style="margin-right: 5px;"><%= image_tag question.user.profile.url, class: "navber-profile-icon" %></span>
          <% else %>
            <span style="margin-right: 5px;"><%= image_tag '/assets/profile_defalt.png', class: "navber-profile-icon" %></span>
          <% end %>
          <%= question.user.name %>
        <% end %>
        さんが<%= question.updated_at.strftime("%Y年%m月%d日").to_s %>に作成 
      </div>         
    </div>
    <%= link_to question do %>
      <h5 class="card-title user-show-indextitle"><%= question.title %></h5>
    <% end %>
    <%= strip_tags(question.content.to_s).gsub(/[\n]/,"").truncate(100) %>
  </div>
</div>
