<div class="card-custom">
  <div class="card-body">
    <div class="author-header contents-tidy">
      <div class="mb-10">
        <%= link_to user_path(question.user_id) do %>
          <% if question.user.profile? %>
            <%= image_tag question.user.profile.url, class: "user-profile-icon" %>
          <% else %>
            <%= image_pack_tag 'profile_defalt.png', class: "user-profile-icon" %>
          <% end %>
          <%= question.user.name %>
        <% end %>
        が<%= question.updated_at.strftime("%Y年%m月%d日").to_s %>に作成
      </div>
    </div>
    <%= link_to question do %>
      <h5 class="card-title user-show-indextitle"><%= question.title %></h5>
    <% end %>
    <%= strip_tags(question.content.to_s).gsub(/[\n]/,"").truncate(100) %>
    <div>
      <i class="far fa-comments answer-count-icon"></i><%= question.answers.count %>
    </div>
  </div>
</div>
