<!DOCTYPE html>
<html>
  <head>
    <title>BIKERS_QA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- ActiveTextがassetパイプラインを使用するため記述（他の機能に影響を与えにくいよう一番上に記述） -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
        <a class="navbar-brand" href="/">
          <img src="/assets/site-logo.png" width="30" height="30" class="d-inline-block align-top" alt="Bikers-QA">
          Bikers-QA
        </a>
        <!-- 検索フォーム -->
        <div>
          <%= search_form_for @q, url: search_articles_path do |f| %>
            <%= f.label :title_cont, '記事検索' %>
            <%= f.search_field :title_cont %>
            <%= f.submit '検索', class: "btn btn-outline-success" %>
          <% end %>
        </div>
        <div class="navber-right">
          <% if user_signed_in? %>
            <%= link_to user_path(current_user.id), class: "navbar-brand navber-username" do %> 
              <% if current_user.profile? %>
                <span><%= image_tag current_user.profile.url, class: "navber-profile-icon" %></span>
              <% else %>
                <span><%= image_tag '/assets/profile_defalt.png', class: "navber-profile-icon" %></span>
              <% end %>
              <%= current_user.name %>
            <% end %>
            <%= link_to articles_path do %> 
              <button type="button" class="btn btn-outline-success">記事一覧</button>
            <% end %>
            <%= link_to new_article_path do %> 
              <button type="button" class="btn btn-outline-success">記事作成</button>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete do %> 
              <button type="button" class="btn btn-outline-secondary">ログアウト</button>
            <% end %>
          <% else %>
            <%= link_to users_guest_sign_in_path, method: :post do %> 
              <button type="button" class="btn btn-outline-danger">テストログイン</button>
            <% end %>
            <%= link_to new_user_registration_path do %> 
              <button type="button" class="btn btn-outline-primary">会員登録</button>
            <% end %>
            <%= link_to new_user_session_path do %> 
              <button type="button" class="btn btn-outline-success">ログイン</button>
            <% end %>
          <% end %>
        </div>
      </nav>
    </header>
    <!-- flashメッセージの表示 -->
    <div class="flash-wrapper">
      <div class="flash-content-wrapper">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "flash flash-#{key}") %>
        <% end %>
      </div>
    </div>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="footer-bgc">
        <div class="content-width">
          <div class="footer-style contents-tidy">
            <div class="footer-left">
              <%= image_tag '/assets/contents-on-logo.png', style: "height: 80px;" %>
              <h6 style="text-align: center;">BIKERS_QA</h6>
              <P style="text-align: center;">バイク整備専門サイト</P>
              <i class="fab fa-twitter ml-20"></i>
              <i class="fab fa-facebook ml-10"></i>
              <p>© 2021 BIKERS_QA inc.</p>
            </div>
            <div class="footer-right">
              <a href="/about">about</a>
              <a href="#">利用規約</a>
              <a href="#">プライバシーポリシー</a>
              <a href="#">お問い合わせ</a>
              <a href="#">ヘルプ</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
